---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="container">
    

    
    
    
<!-- Begin post excerpts, let's highlight the first 4 posts on top
<div class="row remove-site-content-margin">
    
   
    {% assign latest_post = site.posts[0] %}
    <div class="col-md-6">
    <div class="card border-0 mb-4 box-shadow">   
    <a href="{{site.baseurl}}{{latest_post.url}}">
    <div class="topfirstimage" style="background-image: url({% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %} {{site.baseurl}}/{{ latest_post.image}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
    <h2 class="h4 font-weight-bold">
    <a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    <p class="excerpt">
        {{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}
    </p>
    <div>
        <small class="d-block text-muted">
            In <span class="catlist">
                {% for category in latest_post.categories %}
                <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                {% endfor %}
                </span>                   
        </small>
        <small class="text-muted">
            {{ latest_post.date | date: '%b %d, %Y' }}
        </small>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-6">
        
       
        {%- assign second_post = site.posts[1] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if second_post.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{second_post.url}}">
                 <img class="w-100" src="{% if second_post.image contains "://" %}{{ second_post.image }}{% else %}{{ second_post.image | absolute_url }}{% endif %}" alt="{{ second_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in second_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ second_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
     
        {%- assign third_post = site.posts[2] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if third_post.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{third_post.url}}">
                 <img class="w-100" src="{% if third_post.image contains "://" %}{{ third_post.image }}{% else %}{{site.baseurl}}/{{ third_post.image }}{% endif %}" alt="{{ third_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in third_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ third_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
       
        {%- assign fourth_post = site.posts[3] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if fourth_post.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{fourth_post.url}}">
                <img class="w-100" src="{% if fourth_post.image contains "://" %}{{ fourth_post.image }}{% else %}{{site.baseurl}}/{{ fourth_post.image }}{% endif %}" alt="{{ fourth_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{fourth_post.url}}">{{ fourth_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in fourth_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ fourth_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
    </div>
    
</div> -->
    



    
<div class="row remove-site-content-margin">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/categories.html#">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/categories.html#ai">AI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/categories.html#linux">Software</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
          </li> -->
        <!-- Add more categories as needed -->
      </ul>
    </div>
  </nav>
</div>
  <!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky]
{% for post in site.posts %} 
{% if post.tags contains "sticky" %}
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                <h1 class="mb-3">{{post.title}}</h1>
                <p class="mb-3 lead">
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
                </p>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Read More</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/{{ post.image }});">	
            </div>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %} -->

<div class="row mt-3">
    <div class="col-12">
            
            
            {% for category in site.categories %}
            <div class="category-section" data-category="{{ category[0] | downcase }}">
                <!-- <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
                 -->
                {% assign pages_list = category[1] %}
                {% for post in pages_list %}
                {% if post.title != null %}
                  {% if group == null or group == post.group %}
                 
                  <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-1rem bg-lightblue position-relative">
                    <div class="pl-4 pr-0 h-100 tofront">
                        <div class="row justify-content-between">
                            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                                <h1 class="mb-3" style="font-size: 1.2rem;">{{post.title}}</h1>
                                <p class="mb-3 lead" style="font-size: 1rem;">
                                    {{ post.content | strip_html | strip_newlines | truncate: 300 }}
                                </p>
                                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Read More</a>
                            </div>
                            <div class="col-md-6 d-none d-md-block pr-0 background-image" 
                                 style="background-image:url({% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}{{ post.image }}{% endif %}); background-size: cover;">
                            </div>
                        </div>
                    </div>
                </div> 
                    
                  {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            {% assign pages_list = nil %}
            {% assign group = nil %}

            {% endfor %}
        </div>

        <!-- <div class="col-md-2">
            {% include sidebar-featured.html %}    
        </div> -->
    </div>
</div>






<script>
    // JavaScript to filter categories based on URL hash
    document.addEventListener("DOMContentLoaded", function() {
        const hash = window.location.hash.substring(1).toLowerCase();
        const links = document.querySelectorAll('.navbar-nav .nav-link');
    
        // Highlight the appropriate tab based on the hash
        links.forEach(link => {
            const linkHash = link.getAttribute('href').split('#')[1]?.toLowerCase();
            
            if (!hash && link.getAttribute('href').endsWith('#')) {
                // No hash in the URL, highlight "Home"
                link.classList.add('active');
            } else if (linkHash === hash) {
                // Hash matches the link's hash, highlight this link
                link.classList.add('active');
            } else {
                // Otherwise, remove the active class
                link.classList.remove('active');
            }
        });
    
        // Filter categories based on URL hash
        if (hash) {
            const categorySections = document.querySelectorAll('.category-section');
            categorySections.forEach(section => {
                if (section.getAttribute('data-category') !== hash) {
                    section.style.display = 'none';
                } else {
                    section.style.display = 'block';
                }
            });
        }
    });
    
    document.addEventListener("DOMContentLoaded", function() {
    const links = document.querySelectorAll('.navbar-nav .nav-link');
    links.forEach(link => {
        link.addEventListener('click', function(e) {
            const href = this.getAttribute('href');

            // Check if the link contains a hash
            if (href.includes('#')) {
                e.preventDefault();
                const targetHash = href.split('#')[1]?.toLowerCase();
                window.location.href = `${window.location.pathname}#${targetHash}`;
                location.reload();
            } else {
                // Allow normal navigation for links without a hash
                window.location.href = href;
            }
        });
    });
});
</script>